@import "normalize.css";
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 1em;
    font-family: sans-serif;
    overflow: hidden;
    background-color: #fafafa;
}

.header {
    background: #456;
    color: white;
    text-align: center;
    padding: 2px;
    margin-top: 0;
}
.main {
    display: flex;
    flex-direction: column;
}
